/*
style.css
*/
@import 'uswds_variables';
@import '../../node_modules/uswds/src/stylesheets/all';

// over write

.usa-section-gold {
	background-color: $color-gold;
}
.usa-section-light {
	background-color: $color-gray-warm-light;
}
.usa-section-dark {
	background-color: $color-base;
}
.usa-navbar {
	height: 8.5rem;
}
.usa-logo {
	box-sizing: content-box;
	padding: 1rem 0;
	line-height: 1;
	a {
		display: block;
	}
}
.usa-menu-btn {
	height: 8.5rem;
	line-height: 8.5rem;
}
@media screen and (min-width: 951px) {
	.usa-header-basic {
		.usa-navbar {
			width: 25%;
		}
		.usa-logo {
			bottom: -1rem;
		}
	}
}

.usa-hero {
	background-image: url(../images/20170311-P3110004.jpg);
}
.usa-hero-callout {
	h1, h2, h3, h4, h5, h6 {
		text-align: center;
	}
	.usa-button {
		margin-top: 1rem;
	}
}
.copyright {
	font-size: rem(14px);
}
.usa-footer-contact-links {
	> * {
		margin-top: 0;
	}
}

// calender
.fc {
	table {
		margin: 0;
	}
}
.loading {
	text-align: center;
	color: $color-gray-light;
}
.fc-event, .fc-event-dot {
	background-color: $color-gold;
	border-color: $color-gold;
	color: $color-base;
	&:visited {
		color: $color-base;
	}
	&:hover,
	&:focus {
		color: $color-secondary;
	}
}
.fc-state-default {
	background-image: none;
	text-shadow: none;
	box-shadow: none;
}
.fc-today-button {
	
}

// page
.entry-title {
	margin-top: 0;
}