	</main>

	<footer id="colophon" class="usa-footer usa-footer-big" role="contentinfo">
		<div class="usa-grid usa-footer-return-to-top" id="page-top">
			<a href="#_top"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i> Page Top</a>
		</div>

		<div class="usa-footer-primary-section usa-section-gold">
			<div class="usa-grid-full">
 				<nav class="usa-footer-nav">
					<ul class="usa-unstyled-list usa-width-one-fourth usa-footer-primary-content">
						<li class="usa-footer-primary-link">
							<h4><a href="{{ site.baseurl }}{% link pages/about-us.md %}">JAWS-UGとは</a></h4>
						</li>
					</ul>
					<ul class="usa-unstyled-list usa-width-one-fourth usa-footer-primary-content">
						<li class="usa-footer-primary-link">
							<h4>イベント</h4>
						</li>
						<li><a href="{{ site.baseurl }}{% link pages/calendar.md %}">開催予定のイベント</a></li>
						<li><a href="{{ site.baseurl }}{% link pages/previous-events.md %}">過去のイベントサイト</a></li>
					</ul>
					<ul class="usa-unstyled-list usa-width-one-fourth usa-footer-primary-content">
						<li class="usa-footer-primary-link">
							<h4>参加者の方へ</h4>
						</li>
						<li><a href="{{ site.baseurl }}{% link pages/for-participant.md %}">参加する方法/ルールとマナー</a></li>
						<li><a href="{{ site.baseurl }}{% link pages/act.md %}">勉強会グループ一覧</a></li>
					</ul>
					<ul class="usa-unstyled-list usa-width-one-fourth usa-footer-primary-content">
						<li class="usa-footer-primary-link">
							<h4>運営側の方へ</h4>
						</li>
						<li><a href="{{ site.baseurl }}{% link pages/about-branch.md %}">支部とは？</a></li>
						<li><a href="{{ site.baseurl }}{% link pages/new-branch.md %}">新しい支部をつくりたい/支部代表になりたい場合</a></li>
						<li><a href="{{ site.baseurl }}{% link pages/branch-staff.md %}">支部の運営に参加したい場合</a></li>
						<li><a href="{{ site.baseurl }}{% link pages/speaker.md %}">スピーカーになりたい場合</a></li>
					</ul>
				</nav>
			</div>
		</div>
	
		<div class="usa-footer-secondary_section usa-section-dark">
			<div class="usa-grid">
				<div class="usa-width-one-fourth usa-content">
					<p class="copyright">&copy; {{ site.title }}. All rights reserved.</p>
				</div>
				<div class="usa-width-three-fourths usa-footer-contact-links">
					<a href="https://www.facebook.com/{{ site.facebook.username| escape }}" class="usa-button"><i class="fa fa-facebook-official fa-inverse" aria-hidden="true"></i> Facebook</a>
					<a href="https://twitter.com/{{ site.twitter.username| escape }}" class="usa-button"><i class="fa fa-twitter fa-inverse" aria-hidden="true"></i> Twitter</a>
					<a href="https://jaws-ug.doorkeeper.jp/" class="usa-button"><i class="fa fa-ticket" aria-hidden="true"></i> Doorkeeper</a>
					<a href="{{ site.baseurl }}{% link pages/jaws-ug-slack.md %}" class="usa-button"><i class="fa fa-slack fa-inverse" aria-hidden="true"></i> Slack</a>
					<a href="https://github.com/{{ site.github| escape }}" class="usa-button"><i class="fa fa-github fa-inverse" aria-hidden="true"></i> GitHub</a>
				</div>
			</div>
		</div>
	</footer>

	<script src="{{ site.baseurl }}/assets/uswds-1.0.0/js/uswds.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="{{ site.baseurl }}/assets/js/page-scroll.js"></script>
{% if page.layout == 'calendar' or page.layout == 'home' %}
	<script src="{{ site.baseurl }}/assets/js/moment.min.js"></script>
	<script src="{{ site.baseurl }}/assets/fullcalendar/fullcalendar.min.js"></script>
	<script src="{{ site.baseurl }}/assets/fullcalendar/locale/ja.js"></script>
	<script src="{{ site.baseurl }}/assets/fullcalendar/gcal.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/calendar.js"></script>
{% endif %}
{% if page.layout == 'act' %}
	<script src="{{ site.baseurl }}/assets/js/act.js"></script>
{% endif %}

</body>
</html>