{% if include.list %}

<dl class="branch-list">
{% for area in include.list %}
<dt>{{ area.name }}</dt>
<dd>
{% if area.url %}
<a href="{{ area.url | escape }}" class="usa-button"><i class="fa fa-ticket fa-inverse" aria-hidden="true"></i> イベント申込</a>
{% endif %}
{% if area.facebook %}
<a href="{{ area.facebook | escape }}" class="usa-button"><i class="fa fa-facebook-official fa-inverse" aria-hidden="true"></i> Facebook</a>
{% endif %}
{% if area.twitter %}
<a href="{{ area.twitter | escape }}" class="usa-button"><i class="fa fa-twitter fa-inverse" aria-hidden="true"></i> Twitter</a>
{% endif %}
</dd>
{% if area.other %}
<dd>{{ area.other }}</dd>
{% endif %}
{% endfor %}
</dl>
{% endif %}
