{% include header.html %}
<section class="usa-hero">
	<div class="usa-grid">
		<div class="usa-hero-callout usa-section-gold">
			<h2><img class="" src="{{ site.baseurl }}/assets/images/vertical-logo.png"  srcset="{{ site.baseurl }}/assets/images/vertical-logo.png 1x,
         {{ site.baseurl }}/assets/images/vertical-logo@2x.png 2x"
alt="JAWS-UG"></h2>
			<p>JAWS-UGとは、AWS (Amazon Web Services) が提供するクラウドコンピューティングを利用する人々の集まり（コミュニティ）です。</p>
			<p><a class="usa-button usa-button-big usa-button-secondary" href="{{ site.baseurl }}{% link pages/about-us.md %}">JAWS-UGとは</a></p>
		</div>
	</div>
</section>
<section class="usa-grid usa-section">
	<div class="usa-width-one-third">
		<h2>開催予定のイベント</h2>
		<a class="usa-button usa-button-big" href="{{ site.baseurl }}{% link pages/calendar.md %}">イベントカレンダー</a>
	</div>
	<div class="usa-width-two-thirds">
		<div id="calendar-home"></div>
	</div>
</section>

<section class="usa-section usa-section-light usa-graphic_list">
	<div class="usa-grid usa-graphic_list-row">
		<div class="usa-width-one-half usa-media_block">
			<div class="usa-media_block-img"><i class="fa fa-users fa-5x" aria-hidden="true"></i></div>
			<div class="usa-media_block-body">
				<h3>参加者の方へ</h3>
				<ul>
					<li><a href="{{ site.baseurl }}{% link pages/for-participant.md %}">参加する方法/ルールとマナー</a></li>
					<li><a href="{{ site.baseurl }}{% link pages/act.md %}">勉強会グループ一覧</a></li>
				</ul>
			</div>
		</div>
		<div class="usa-width-one-half usa-media_block">
			<div class="usa-media_block-img"><i class="fa fa-university fa-5x" aria-hidden="true"></i></div>
			<div class="usa-media_block-body">
				<h3>運営側の方へ</h3>
				<ul>
					<li><a href="{{ site.baseurl }}{% link pages/about-branch.md %}">支部とは？</a></li>
					<li><a href="#">新しい支部をつくりたい/支部代表になりたい場合</a></li>
					<li><a href="#">支部の運営に参加したい場合</a></li>
					<li><a href="#">スピーカーになりたい場合</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
{% include footer.html %}