{% include header.html %}
<section class="usa-hero">
	<div class="usa-grid">
		<div class="usa-hero-callout usa-section-gold">
			<h2><img class="" src="{{ site.baseurl }}/assets/images/cropped-favicon-1-180x180.png" alt="Logo"><br>JAWS-UG <span class="usa-hero-callout-alt">AWS User Group - Japan</span></h2>
			<p>Amazon Web Servicesの利用促進や情報交換のためのユーザーグループです。</p>
			<p><a class="usa-button usa-button-big usa-button-secondary" href="{{ site.baseurl }}/about-us/">JAWS-UGとは</a></p>
		</div>
	</div>
</section>
<section class="usa-grid usa-section">
	<div class="usa-width-one-third">
		<h2>開催予定のイベント</h2>
		<a class="usa-button usa-button-big" href="{{ site.baseurl }}/calendar/">イベントカレンダー</a>
	</div>
	<div class="usa-width-two-thirds">
		<div id="calendar-home"></div>
	</div>
</section>

<section class="usa-section usa-section-light usa-graphic_list">
	<div class="usa-grid usa-graphic_list-row">
		<div class="usa-width-one-half usa-media_block">
			<div class="usa-media_block-img"><i class="fa fa-users fa-5x" aria-hidden="true"></i></div>
			<div class="usa-media_block-body">
				<h3>参加者の方へ</h3>
				<ul>
					<li><a href="#">参加する方法/ルールとマナー</a></li>
					<li><a href="#">勉強会グループ一覧</a></li>
				</ul>
			</div>
		</div>
		<div class="usa-width-one-half usa-media_block">
			<div class="usa-media_block-img"><i class="fa fa-university fa-5x" aria-hidden="true"></i></div>
			<div class="usa-media_block-body">
				<h3>運営側の方へ</h3>
				<ul>
					<li><a href="#">支部とは？</a></li>
					<li><a href="#">新しい支部をつくりたい/支部代表になりたい場合</a></li>
					<li><a href="#">支部の運営に参加したい場合</a></li>
					<li><a href="#">スピーカーになりたい場合</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
{% include footer.html %}